:root {
    /**  primary **/
    --szgc-element-primary: #1566A3;
    --szgc-element-primary-light-1: #e8f0f6;
    --szgc-element-primary-light-2: #d0e0ed;
    --szgc-element-primary-light-3: #b9d1e3;
    --szgc-element-primary-light-4: #a1c2da;
    --szgc-element-primary-light-5: #8ab3d1;
    --szgc-element-primary-light-6: #73a3c8;
    --szgc-element-primary-light-7: #5b94bf;
    --szgc-element-primary-light-8: #4485b5;
    --szgc-element-primary-light-9: #2c75ac;
    /**  white **/
    --szgc-element-white-color: #ffffff;
    /**  black **/
    --szgc-element-black-color: #000000;
    /**  success **/
    --szgc-element-success-color: #52C41A;
    --szgc-element-success-color-light: #97dc76;
    --szgc-element-success-color-lighter: #e5f9ea;
    /**  warning **/
    --szgc-element-warning-color: #FAAE13;
    --szgc-element-warning-color-light: #fcce71;
    --szgc-element-warning-color-lighter: #fff5eb;
    /**  danger **/
    --szgc-element-danger-color: #F5222D;
    --szgc-element-danger-color-light: #f97a81;
    --szgc-element-danger-color-lighter: #ffedec;
    /**  info **/
    --szgc-element-info-color: #BFBFBF;
    --szgc-element-info-color-light: #d9d9d9;
    --szgc-element-info-color-lighter: #f2f2f2;
    /**  text **/
    --szgc-element-color-text-primary: #445662;
    --szgc-element-color-text-regular: #525B6A;
    --szgc-element-color-text-secondary: #8C959E;
    --szgc-element-color-text-placeholder: #BFBFBF;
    /**  border **/
    --szgc-element-border-color--base: #dcdfe6;
    --szgc-element-border-color--light: #e4e7ed;
    --szgc-element-border-color--lighter: #ebeef5;
    --szgc-element-border-color--extra-light: #f2f6fc;
    /**  Background **/
    --szgc-element-background-color-base: #F7F7F7;
    --szgc-element-background-color-black: #2C2C2C;
  
    --szgc-element-font-color-disabled-base: #bbb;
  
    --szgc-element-icon-color: #666;
  
    --szgc-element-checkbox-disabled-input-fill: #edf2fc;
  
    --select-multiple-input-color: #666;
    --select-dropdown-empty-color: #999;
  
    --szgc-element-message-background-color: #edf2fc;
  
    --szgc-element-cascader-tag-background: #f0f2f5;
    --szgc-element-tab-border-line-color: 1px solid #e4e4e4;
    --szgc-element-carousel-arrow-background: rgba(31, 45, 61, 0.11) ;
    --szgc-element-carousel-arrow-hover-background: rgba(31, 45, 61, 0.23);
    --szgc-element-calendar-selected-background-color: #f2f8fe;
    --szgc-element-avatar-font-color: #fff;
    --szgc-element-avatar-background-color: #c0c4cc;
    /**  Scrollbar **/
    --scrollbar-background-color: rgba(144, 147, 153, 0.3);
    --scrollbar-hover-background-color: rgba(144, 147, 153, 0.5);
    /**  Slider **/
    --szgc-element-slider-button-hover-color:#14639e;
    /**  Table **/
    --szgc-element-table-header-background-color: #f2f9fb;
    --szgc-element-table-row-hover-background-color: #e1ebf6;
  }